* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial;
    background-color: orange;
    color: white;
    font-weight: 600;
}

.partes {
    text-align: center;
    
}

.parte1 {
    margin: 0 80px 50px 80px;
    text-align: justify;
}

.titulo {
    padding: 20px 0 35px 0;
    font-size: 50px;
    color: #000;
    font-weight: 800;
    text-align: center;
}

.parte2 {
    text-align: left;
    margin-left: 80px;
}